{% extends "base.twig" %}

{% block content %}
  <div class="vc_row">
  	{% for post in posts %}
  		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
  	{% endfor %}
  </div>
  {% if pagination %}
    <div class="vc_row">
      <div class="vc_col-md-12">
        <div class="tool-pagination">
          <ul class="pages">
            {% if pagination.prev %}
              <li><a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}"><</a></li>
            {% endif %}
            {% for page in pagination.pages %}
              <li>
                {% if page.link %}
                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                {% else %}
                    <span class="{{page.class}}">{{page.title}}</span>
                {% endif %}
              </li>
            {% endfor %}
            {% if pagination.next %}
              <li><a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
