{# {% extends "tease.twig" %} #}

{% block content %}
  <div class="vc_col-md-4 vc_col-sm-4">
    <div class="event">
      <div class="event-startdate">
        <div class="event-startdate-day">{{ post.get_field('event_startdate') | date('m') }}</div>
        <div class="event-startdate-month">{{ post.get_field('event_startdate') | date('M') }}</div>
      </div>
      {% if post.thumbnail.src %}
        {# <img src="{{post.thumbnail.src}}" /> #}
        {{ function('get_the_post_thumbnail', post.ID, 'thumbnail') }}
      {% endif %}
      <h2 class="h4-like"><a class="black" href="{{post.link}}">{{post.title}}</a></h2>
  		<p>{{post.get_preview(25, false, '')}}</p>
      <p class="orange">
        {% for term in function('wp_get_post_terms', post.ID, 'event-category') %}
          {{ term.name }}
        {% endfor %}
      </p>
    </div>
  </div>
  {% if loop.index == 3 %}
    <div class="vc_el-clearfix-lg vc_el-clearfix-md vc_el-clearfix-sm"></div>
  {% endif %}
{% endblock %}
