<div class="vc_link">'
  <input id="upload_file" name="{{settings.param_name}}" class="wpb_vc_param_value {{settings.param_name}} {{settings.type}}_field" type="hidden" value="{{value}}" data-json="{{value}}" />

  <a id="upload_file_button" href="#" class="button vc_link-build {{settings.param_name}}_button>">
    {{__( 'Select URL', 'js_composer' )}}</a>
  <span class="vc_link_label">{{__( 'URL', 'js_composer' )}} :</span> <span class="url-label">{{value}}</span>
 </div>

 <script type="text/javascript">
  (function ( $ ) {
      "use strict";

      $(function () {

          var custom_uploader;

          $("#upload_file_button").click(function(e) {

              e.preventDefault();

              //If the uploader object has already been created, reopen the dialog
              if (custom_uploader) {
                  custom_uploader.open();
                  return;
              }

              //Extend the wp.media object
              custom_uploader = wp.media.frames.file_frame = wp.media({
                  title: "Choisir un fichier",
                  button: {
                      text: "Choisir un fichier"
                  },
                  multiple: false
              });

              //When a file is selected, grab the URL and set it as the text fields value
              custom_uploader.on("select", function() {
                  var attachment = custom_uploader.state().get("selection").first().toJSON();
                  // console.log(attachment);
                  $("#upload_file").val(attachment.url);
              });

              //Open the uploader dialog
              custom_uploader.open();

          });

      });

  }(jQuery));
</script>
