<a href="{{post.link}}"  class="post-list-item link-block">
  <h3 class="post-list-item-title"><a href="{{post.link}}">{{post.post_title}}</a></h2>
  <p class="post-list-item-meta">
    {{ post.post_date | date("j M, Y") }} }}
  </p>
  {% if post.thumbnail.src %}
    <img class="post-list-item-thumbnail" src="{{post.thumbnail | resize('thumbnail')}}" alt="" />
  {% endif %}

  <div class="post-list-item-content">
    {{post.get_preview(25)}}
  </div>
</a>
